name: hello

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: compose-run
        shell: bash
        run: |
          docker-compose up